<div class='container px-5 px-sm-0'>
  <%= render 'layouts/errors',obj @game %>
  <div class='row'>
    <div class='col-md-3'>
      
      
      <%=render 'form', game: @game %>
      </div>
  </div>
</div>