<div class="container px-5 mt-5">
  <h1 class="text-center">About</h1>
  <div class="row mx-auto mt-5">
    <div class="col">
      <p class="text-center">
        このサイトを利用する際の規約です</br>
        著作権について</br>
        音楽や画像と動画の使用はしないものとする</p>
        許可されているもの除くネタバレを含む内容の記載はしないものとする</br>
      </p>
    </div>
  </div>
</div>