<div class='container'>
  <div class="row">
    <div class="col-md-4">
      <%= link_to "users", admin_users_path, class: "btn btn-primary" %>
      <%= link_to "games", admin_games_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
